BasedOnStyle: LLVM
Language: Cpp
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All
InsertBraces: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
SortIncludes: Never
ColumnLimit: 100
ReflowComments: false
