/**
 * @file app.overlay
 * @brief 연결 기반 IQ 수신 진단에 Zephyr LL을 사용합니다.
 *
 * SPDX-License-Identifier: MIT
 */

&bt_hci_controller {
    status = "okay";
};

&bt_hci_sdc {
    status = "disabled";
};

/ {
    chosen {
        zephyr,bt-hci = &bt_hci_controller;
    };
};
