/**
 * @file external.overlay
 * @brief M32-W10 native target의 P1.10/P1.14 1-wire 공존 연결입니다.
 * SPDX-License-Identifier: MIT
 */

/ {
    zephyr,user {
        coex-pta-grant-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
    };

    nrf_radio_coex: radio_coex_one_wire {
        status = "okay";
        compatible = "sdc-radio-coex-one-wire";
        grant-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
        concurrency-mode = <0>;
    };

    aliases {
        egu = &egu10;
    };
};

&gpio1 {
    status = "okay";
};

&gpiote20 {
    status = "okay";
};

&pwm20 {
    status = "disabled";
};

&led1 {
    status = "disabled";
};

&led3 {
    status = "disabled";
};

&radio {
    coex = <&nrf_radio_coex>;
};
